h1{
    font-size: x-large;
}
h2{
    font-size: large;
}


.slds-card{
    cursor: pointer;
}
.slds-card img{
    height: 200px;
    width: 100%;
}

.selected {
    border: 3px solid #2980b9;

}
title_wrapper{
    padding: 10px 20px;
    transition: .3s smooth ease-in;
}